@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Edu+SA+Hand:wght@400..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Edu+SA+Hand:wght@400..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,816;1,816&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Edu+SA+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,816;1,816&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth,wght@0,77.3,100..900;1,77.3,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;



  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background-image: url(img/header-bg.png);
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.img-logo .logo-img {
  height: 50px;
}

.nav-link .nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

li a:hover {
  color: #ff0000;
  transition: color 0.3s ease;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  gap: 30px;
}

.header-content {
  max-width: 50%;
}

.header-content h2 {
  font-size: 20px;
  color: #ff6347;
  margin-bottom: 10px;
}

.header-content h1 {
  font-size: 50px;
  line-height: 1.2;
}

.header-content span {
  color: #ff6347;
  box-shadow: white 0px 0px 0px;

}

.header-img-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.header-img {
  width: 100%;
  max-width: 600px;

  height: auto;
}

.description {
  border: dashed 2px #1c1b1b;
  width: 420px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;

}

.description>span {
  color: #42200B;
}

.header-content>h2 {
  color: #42200B;
}

.whit-spece {
  margin: 30px;
}

.special {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 50%;

  padding: 10px;
  gap: 15px;



}

.special-image1 {
  width: 600px;
  position: relative;
  text-align: center;
  color: white;
  font-size: xx-large;

  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;



}

.top1 {
  position: absolute;
  top: 0px;
  left: 40px;



}

.top2 {
  position: absolute;
  top: 30px;
  left: 40px;
}

.right-top3 {
  position: absolute;
  top: 0px;
  left: 40px;
}

.right-top4 {
  position: absolute;
  top: 35px;
  left: 40px;

}

.right-top5 {
  position: absolute;
  top: 70px;
  left: 40px;
}

.bottom-text1 {
  position: absolute;
  top: 0px;
  left: 40px;

}

.bottom-text2 {
  position: absolute;
  top: 30px;
  left: 40px;

}






.special-image2 {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  text-align: center;
  color: white;

  font-size: xx-large;

  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}

.image-left-speciel {
  width: 570px;
  margin-left: 15px;


}

.image-one {
  width: 580px;
  height: 200px;
}

.image-two {
  width: 580px;
}



.two-imge-special {
  position: relative;
  text-align: center;
  color: white;

  font-size: xx-large;

  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}

.MENU {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.top-menu1 {
  background-color: #FFC135;

  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: rgb(66, 32, 11);
  padding: 7px;





}

.top-menu2 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: none;
  font-weight: 900;
  font-style: unset;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  color: rgb(66, 32, 11);
  text-shadow: 2px 3px #FFC135;
}

.text-menu {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 25px;
  color: rgba(33, 37, 41, 0.911);
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: none;
  font-weight: normal;
  font-style: italic;
}

.text-menu {
  text-align: center;
}

.menu-food {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.image-menu-one {
  width: 200px;
  height: 170px;
}

.image-menu-two {
  width: 200px;
  height: 170px;
}

.image-menu-thrie {
  width: 200px;
  height: 170px;
}

.Burger-one {

  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;



}

.Burger-one:hover {
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.228);
  border-radius: 10px;
  transition: 0.5s
}

.Burger-two {

  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.Burger-two:hover {
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.228);
  border-radius: 10px;
  transition: 0.5s;
}

.Burger-thrie {

  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.Burger-thrie:hover {
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.228);
  border-radius: 10px;
  transition: 0.5s
}

#menu-button {
  background-color: #FF0000;
  padding: 10px;
  color: white;
  border: none;
}

#menu-button:hover {
  background-color: #42200B;
}

.Discover {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 850px;
  height: 280px;
  padding: 10px;
  gap: 10px;
  background-color: #ffffffec;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.42);
  border-style: none;
  border-radius: 2px;
}

.logo-discover {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: none;
  font-weight: 900;
  font-style: unset;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  color: rgb(66, 32, 11);
  text-shadow: 2px 3px #FFC135;


}

.image-discover {
  width: 400px;

}

.RESERVATION {
  display: flex;
  justify-content: space-between;
  width: 1265px;
  height: 100%;
}

.image-reserve-left {
  width: 300px;
}

.logo-reserve {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: none;
  font-weight: 900;
  font-style: unset;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  color: rgb(66, 32, 11);
  text-shadow: 2px 3px #FFC135;
  display: flex;
  justify-content: center;

}

.reserve-table>h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-reserve-right {
  width: 250px;
}

.input {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.input-text {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#input-name {
  width: 300px;
  height: 30px;
}

#input-Email {
  width: 300px;
  height: 30px;


}

.input-date-time {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

#input-date {
  width: 300px;
  height: 30px;
}

#input-time {
  width: 300px;
  height: 30px;

}

.input-button-number {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

#input-number {
  width: 300px;
  height: 30px;
}

#button {
  width: 300px;
  height: 38px;
  background-color: #DF1C1C;
  color: white;
  border: none;
  border-radius: 2px;
}

#button:hover {
  background-color: #42200B;
}

footer {
  background-image: url(img/footer-bg.png);
  width: 100%;
  height: 400px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.logo-footer {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  text-align: left;
  align-items: center;
  position: relative;
  right: 350px;
  bottom: 15px;

}

.footer-text {
  width: 480px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  font-size: large;
}





.sub-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
}
.footer-map{
  width: 20px;
}
.logo-map{
  
}

.footer-last {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  font-size: small;
}
#about{
  
}
html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 1220px) {
  body {
    background-color: lightblue;
  }
}